﻿@{
    ViewBag.Title = "Player";
}

<h2 style="margin:0 20px 40px 0">Чат-комната</h2>

<div ng-app="app" ng-controller="ChatController" class="main">

    <div ng-init="init('@Model')" >
        <div class="container">
            <div class="col-sm-6">

                <div class="row" style="height: 350px;">
                    <ul class="list-group pre-scrollable">
                        <li  ng-repeat="message in chatlist" style="list-style-type: none;  margin-left: 10px;padding-left: 10px;">
                            {{message.UserName}} : {{message.Message}}
                        </li>
                    </ul>
                </div>
                <div class="row" style="margin: 10px">
                    <textarea class="form-control boxsizingBorder" style="max-width:1000px; resize: none;" ng-model="message" rows="2"></textarea>
                </div>
                <div class="row" style="margin: 10px">
                    <input type="button" class="btn btn-default" ng-click="sendMessage()" value="Отправить" />
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <p style="margin:0 0 20px 40px">
                        <b>Пользователи</b>
                    </p>
                    <ul>
                        <li class="list-group-item" ng-repeat="user in userList">
                            {{user.Name}}
                        </li>
                    </ul>
                </div>
            </div>

           
        </div>
    </div>
</div>

@section scripts {


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <!--Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/App/Controllers/InputNameController.js"></script>
    <script src="~/Scripts/App/Controllers/ChatController.js"></script>
    <script src="~/Scripts/App/ApplicationModule.js"></script>
    
}
