﻿@{
    ViewBag.Title = "Player";
}

<h2>Вход</h2>

<div ng-app="app" ng-controller="InputNameController" class="main">
    <div id="loginBlock">
        Введите логин:<br />
        <div class="text-danger">
            @ViewBag.Message     
        </div>

        <input ng-model="name" type="text"/>  <a data-ng-href="{{'/Home/ChatBlock?name=' + name}}" class="btn btn-default">Вход</a>
    </div>

   
</div>



@section scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>

    <script src="~/Scripts/App/Controllers/InputNameController.js"></script>
    <script src="~/Scripts/App/Controllers/ChatController.js"></script>
    <script src="~/Scripts/App/ApplicationModule.js"></script>
    <!--Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>

}
